<!--{% extends "layout.html" %}-->
<!--{% block content %}-->
<!--    <div class="table-responsive" >-->
<!--        <table class="table table-bordered">-->
<!--            <tr><th style="position: sticky; background-color: white; left: 0">{{ current_user.fullname }}</th><td>QWERTYUIOPASDFGHJKLZXCVBNM</td><td>QWERTYUIOPASDFGHJKLZXCVBNM</td></tr>-->
<!--            <tr><th style="position: sticky; background-color: white; left: 0">2</th><td>QWERTYUIOPASDFGHJKLZXCVBNM</td><td>QWERTYUIOPASDFGHJKLZXCVBNM</td></tr>-->
<!--          </table>-->
<!--    </div>-->
<!--{% endblock content %}-->